{% extends "gardens/details.html" %}
{% load static %}

{% block garden_detail_content %}
    <div class="m-6 bg-white shadow rounded-md">

        <div class="flex flex-row justify-between items-center">
            <h1 class="text-3xl m-4">Activités récentes</h1>
            <a href="{% url 'gardens:activities:create_activity' garden.slug%}"
               class="mr-4 p-4">Ajouter activité</a>
        </div>
        <div class="flex flex-row basis-1/3 justify-start">
            <p class="ml-4">Ajouté récemment</p>
            <p class="ml-4">Actualisé récemment</p>
        </div>
        <table class="table w-full">
            <thead class="capitalize table-header-group">
            <tr class="text-left table-row">
                <th scope="col" class="table-cell">Execution date</th>
                <th scope="col" class="table-cell">quantité</th>
                <th scope="col" class="table-cell">Produit</th>
                <th scope="col" class="table-cell">organic</th>
                <th scope="col" class="table-cell">Composition</th>
                <th scope="col" class="table-cell"></th>
            </tr>
            </thead>
            <tbody class="table-row-group">
            	<td class="table-cell">01.01.2020</td>
            	<td class="table-cell">12 kg</td>
            	<td class="table-cell">TheNameOfTheFertilizer</td>
            	<td class="table-cell">True</td>
            	<td class="table-cell">5-3-4</td>
            	<td class="table-cell">Edit</td>
{#            {% for activity in activities %}#}
{#            {% endfor %}#}


            </tbody>

        </table>
    </div>


    {#    <div class="flex justify-between">#}
    {#        <div class="m-2 details-field-extern w-2/3">#}
    {#            <div class="details-field-intern">#}
    {##}
    {##}
    {#                <h1 class="p-2 font-md capitalize text-2xl">Tâches</h1>#}
    {#                <p>Voici la liste des dernières tâches effectués dans ce jardin.</p>#}
    {#                {% if activities %}#}
    {#                    {% include 'activities/partials/table.html' with objects=activities %}#}
    {#                {% else %}#}
    {#                    <p>Pas de fertilisation</p>#}
    {#                {% endif %}#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="w-1/3">#}
    {#            A graphic here#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="m-2 details-field-extern">#}
    {#        <div class="details-field-intern">#}
    {#            <h1 class="p-2 font-medium capitalize text-2xl">Détails</h1>#}
    {#            <div id="activity-description">#}
    {#                Sélectionner une activité pour voir les détails...#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

{% endblock %}