<div class="flex justify-between m-4">
    <table class="table-auto basis-2/3">
        <tr>
            <td class="p-2"><span
                    class="font-bold">Date d´exécution: </span><span>{{ activity.get_creation_date }}</span></td>
            <td><span class="font-bold">Type: </span><span>{{ activity.get_activity_display }}</span></td>
        </tr>
        <tr>
            <td class="p-2"><span class="font-bold">Mis à jour: </span><span>{{ activity.get_updated_date }}</span></td>

            <td><span class="font-bold">Quantité: </span><span>{{ activity.get_quantity }}</span></td>
        </tr>
        <tr>
            <td></td>
            <td class="text-xs italic">
                {% for element, qty in activity.get_base_element_quantity.items %}
                <span>{{ element }}:{{ qty }}</span>
               {% endfor %}
            </td>

        </tr>
        <!-- more rows as needed -->
    </table>
    <div class="basis-1/3 border rounded-md p-2">

        <p class="font-bold">Remarques: </p>
        <p>{{ activity.comment }}</p>
    </div>
</div>
